body {
    background-color: rgb(240, 207, 240);
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin: 0;
    padding: 0;
}

/*header styling*/

header {
    display: flex;
    justify-content: space-around;
    color: black;
    background-color:rgb(212, 182, 240) ;
}

h1{
    background-color: plum;
    color:aliceblue;
    display: flex;
    justify-content: center;
    
}

.h1{

}

img{ 
    width: 150px;
    height: auto;
    border-radius: 600px;
    display: flex;
    justify-content: space-around;  
}


nav {
    display: flex;
    justify-content: space-around;
}

nav ul {
    display: flex;
    justify-content: space-around;
    list-style: none;
    flex-wrap: wrap;
}

/* links styling*/
a {
    color: rgb(249, 243, 243);
    display: flex;
    justify-content: space-around;
    flex: 1;

}

/*styling of main section*/
/*This keeps the page divided in two sections*/

.left-side{
    width: 20%;
    margin: 10%

}

.right-side{
    width: 80%;
    margin-right: 10%;
}

.content{
    display: flex;

}

/* don't mess with the CSS above!*/


h2 {
    display: flex;
    justify-content: space-around;
    background-color: rgb(212, 182, 240);
    color: aliceblue;
}


/*Images for external links*/
.BTS{
    background-image: url(BTS.jpg);
    width: max-content;
}

.Vegan-Cookbook{
    background-image: url(pancakes.jpg);
}   

.Travel{
    background-image: url(Dreamcatcher.jpg);
}


/*work on creating h2 containers*/
/*Remember to start from top to bottom!!!*/